.p-button {
  outline: none;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
}
.p-button:disabled {
  pointer-events: none;
  opacity: 60%;
}

.p-button-icon {
  font-size: 1.425rem;
  font-weight: 600;
}
.p-button.p-text-white {
  color: white;
}

.p-button.p-bg-purple {
  background-color: var(--purple);
  transition: background-color 0.2s ease-in;
}

.p-button.p-text-purple {
  color: var(--purple);
  transition: color 0.2s ease-in;
}

.p-button.p-bg-purple:hover {
  background-color: var(--light-purple);
}

.p-button.p-text-purple:hover {
  color: var(--light-purple);
}
